body {
  margin: 0;
  font-family: Arial;
  background: #f5f5f5;
  transition: background 0.3s;
}

.dark {
  background: #1a1a1a;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

#login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.dark .card {
  background: #333;
}

button {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

input[type="text"], input[type="password"] {
  width: 97%;
  padding: 7px;
  margin-bottom: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
